<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/fb.profile.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Marco Lunazzi</strong>
                            </span> <span class="text-muted text-xs block">CEO <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    Xlns
                </div>
            </li>
            <li class="@Html.IsSelected(controller:"Home", action: "Index")">
                <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-line-chart"></i> <span class="nav-label">Dashbords</span> </a>
            </li>
            <li class="@Html.IsSelected(controller:"Task", action: "Index")">
                <a href="@Url.Action("Index", "Merchant")"><i class="fa fa-briefcase"></i> <span class="nav-label">Merchants</span> </a>
            </li>
            <li class="@Html.IsSelected(controller:"Task", action: "Index")">
                <a href="@Url.Action("Index", "Catalog")"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Catalog</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Settings")">
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.graphs">Settings</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Settings", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Google")"><a href="@Url.Action("Google", "Settings")"><i class="fa fa-google"></i>Google Taxonomy</a></li>                    
                </ul>
            </li>               
        </ul>
    </div>
</nav>