@model Xlns.Catalog.Admin.Models.CatalogueList
@using Xlns.Catalog.Document.Services

<div class="ibox">
    <div class="ibox-title">
        <h5>Catalog list</h5>
        <div class="ibox-tools">
            <a href="#" class="btn btn-primary" onclick="$('#createCatalogPanel').toggle();">Add new catalog</a>
        </div>
    </div>
    <div class="ibox-content">
        <div id="createCatalogPanel" style="display: none">
            @Html.Partial("CreateCatalog", Model.MerchantId)
        </div>
        @if (Model.Catalogs == null || Model.Catalogs.Count == 0)
        { 
            <span>No elements found</span>
        }
        <div style="margin-top: 15px">
            <table class="table table-hover table-responsive issue-tracker">
                <thead>
                    <tr>
                        <th data-toggle="true">Country</th>
                        <th data-hide="phone">Catalog Name</th>
                        <th data-hide="all">Status</th>
                        <th data-hide="all">Products</th>
                        <th data-hide="phone">Created</th>
                        <th data-hide="phone,tablet">Last update</th>
                        <th class="text-right" data-sort-ignore="true">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var catalogue in Model.Catalogs)
                    {
                        <tr data-catalogid="@catalogue.Id">
                            <td>
                                @catalogue.CountryCode
                            </td>
                            <td>
                                @catalogue.Name
                            </td>
                            <td>
                                @Html.Partial("CatalogStatus", catalogue.Status)                                
                            </td>
                            <td>
                                @catalogue.GetProductsNumber()
                            </td>
                            <td>
                                @catalogue.Created
                            </td>
                            <td>
                                @catalogue.Updated
                            </td>
                            <td class="text-right">
                                <div>
                                    <button class="btn btn-outline btn-white btn-xs">View products</button>
                                    @Html.ActionLink("Manage", "Admin", "Catalog", new { Id = catalogue.Id }, new { @class = "btn btn-outline btn-primary btn-xs" })
                                    <button class="btn btn-outline btn-success btn-xs">Analysis</button>
                                    @using (@Html.BeginForm("Delete", "Catalog", FormMethod.Post, new { style = "display:inline" }))
                                    {
                                        @Html.Hidden("catalogueId", catalogue.Id)
                                        <button class="btn btn-outline btn-danger btn-xs deleteCatalogButton" data-toggle="modal" data-target="#deleteCatalogModal">
                                            <i class="glyphicon glyphicon-trash"></i> Delete
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="deleteCatalogModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Deleting a catalog will delete also all the products associated with it</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button id="deleteCatalogModalConfirm" type="button" class="btn btn-danger" data-dismiss="modal">DELETE</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.deleteCatalogButton').on('click', function (e) {
        e.preventDefault();
        var form = $(this).closest('form');
        $('#deleteCatalogModal').find('.modal-footer #deleteCatalogModalConfirm').data('form', form);
    });

    /* Form confirm (yes/ok) handler, submits form */
    $('#deleteCatalogModal').find('.modal-footer #deleteCatalogModalConfirm').on('click', function () {
        $(this).data('form').submit();
    });

    function catalogDeleted(a, b, c) {
        console.log(a);
        console.log(b);
        console.log(c);
    }
</script>
