@model Xlns.Catalog.Document.Model.ProductsList

<table class="table table-striped">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Title</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    
                    <a target="_blank" href="@product.ProductLink" >@product.SKU</a>
                </td>
                <td>
                    <span>@product.Title</span>
                </td>
                <td>
                    <span>@product.GoogleTaxonomy</span>
                </td>
                <td>
                    <span>@product.Brand</span>
                </td>
                <td>
                    @if (product.Pricing != null && product.Pricing.Price != product.Pricing.SalePrice)
                    {
                        <s class="small">@product.Pricing.Price</s> <strong class="text-danger">@product.Pricing.SalePrice</strong>
                    } else
                    {
                        <span>@product.Pricing.Price</span>
                    }
                </td>                
            </tr>   
        }
    </tbody>
</table>
